 
// Color Variables

// Primary
$primary-default : var(--tfhb-primary-color);
$primary-color : #17030C;
$primary-hover : #4C9959;
$primary-text : #FFFFFF;

// Secondary
$secondary-default : var(--tfhb-secondary-color);
$secondary-hover : #E1F2E4;

// Text Color
$text-title : #141915;
$text-paragraph : var(---tfhb-paragraph-color);
$text-input : #273F2B;

// Background
$surface-primary : #F3F6F4; 
$surface-secondary : #FFFFFF;

$surface-border : #C0D8C4;
$surface-border-hover : #211319;
$surface-background : #C0D8C4;
$surface-input-field : #56765B; 

// Error    
$error-text : #AC0C22;
$error-background : #FCD9DE;


// warning
$warning-text : #A37800;
$warning-background : #FEECEE;
$warning-background-secondary : #FFF8E5;

// Info
$info-text : #002AB3;
$info-background : #EBEFFF;

// Info
$alert-text : #D69D00;
$alert-background : #EBEFFF;

// Success
$success-text : #17723F;
$success-background : #E6FAEE;


// Border Variables

$border-radius-small : 4px;
$border-radius-medium : 8px;
$border-radius-xmedium : 12px;
$border-radius-large : 16px; 
$border-radius-xlarge : 24px;
$border-radius-xxlarge : 32px;
$border-radius-full : 50%;

// Box Shadow
$icon-box-shadow : 0px 8px 30px 0px rgba(0, 64, 11, 0.30); 
$btn-box-shadow : 0px 1px 3px 0px rgba(40, 16, 26, 0.10), 0px 1px 2px 0px rgba(40, 16, 26, 0.06);
$popup-box-shadow : 0px 8px 30px 0px rgba(40, 16, 26, 0.1019607843);
$filter-box-shadow : 0px 8px 30px 0px rgba(40, 16, 26, 0.10); 
$dropdown-box-shadow : 0px 15px 30px 0px #28101A1A;
$flatpickr-box-shadow : 0px 8px 30px 0px rgba(229, 0, 99, 0.30);
$setup-wizard-box-shadow : 0px 8px 16px 0px rgba(40, 16, 26, 0.04); 
$input-field-box-shadow : 0px 1px 3px 0px rgba(16, 40, 20, 0.10), 0px 1px 2px 0px rgba(16, 40, 20, 0.06);
$meeting-card-box-shadow : 0px 15px 30px 0px rgba(16, 40, 20, 0.10);


// Other Colors
$icon-gradient: rgba(207, 227, 210, 0.00); 

// transition
$transition : 0.4s;

// Typography
$text-font-size : 13px;
$text-font-size-small : 11px;
$heading-font-size-small : 15px;
$heading-font-size-medium : 17px;
$heading-font-size-large : 24px;

$font-weight-reguler : 400;
$font-weight-medium : 600;
$font-weight-bold : 700;

// Border Variables
$border-type : solid;
$border-reguler : 1px;
$button-border : 1px;
$fields-border : 1px;






// Responsive Veriable
$max1399: "only screen and (max-width: 1399px)";
$max1240: "only screen and (max-width: 1240px)";
$max1366: "only screen and (max-width: 1366px)";
$max1140: "only screen and (max-width: 1140px)";
$max991: "only screen and (max-width: 991px)";
$max767: "only screen and (max-width: 767px)";
$max640: "only screen and (max-width: 640px)";
$max570: "only screen and (max-width: 570px)";
$max1240: "only screen and (max-width: 1240px)";
$max1170: "only screen and (max-width: 1170px)";  
/// 