.tfhb-admin-hosts {
 
  min-height: 600px;
  >.tfhb-dashboard-heading {
    margin-right: 16px !important;
  }

  .tfhb-popup {
    .tfhb-popup-wrap {
      max-width: 500px !important;
    }

    .tfhb-popup-wrap {
      .tfhb-availability-popup-wrap {
        width: 100% !important;
      }
    }
  }

  .tfhb-hosts-list-content {
    margin-left: 16px;
    padding: 24px;
    margin-top: 24px;
    border-radius: $border-radius-xmedium;
    border: $border-reguler $surface-border;
    background: #FFF;
    margin-right: 16px;
    min-height: 600px;

    .tfhb-host-availability-list-wrap {
      flex-direction: column !important;

      .tfhb-availability-single-box {
        width: 100% !important;
      }
    }
  }

  .tfhb-hosts-content {
    margin-top: 32px;
  }

  .tfhb-hosts-list-wrap {
    // margin-left: 16px;
    justify-content: normal !important;
    align-items: normal !important;

    .tfhb-single-hosts {
      width: calc(33.333% - 24px);

      @media #{$max1140} {
        width: calc(50% - 24px);
      }

      @media #{$max767} {
        width: calc(100% - 12px);
      }

      .tfhb-single-hosts-wrap {
        border-radius: $border-radius-medium;
        background-color: $surface-secondary;
        padding: 24px;
        border: $border-reguler $border-type $surface-border;
        position: relative;
        transition: $transition;
        height: 100%;

        &:hover {
          background-color: $surface-primary;
        }

        hr {
          margin: 16px 0;
          border-top: 0.5px $border-type $surface-border;
        }

        .tfhb-hosts-info {
          justify-content: normal !important;
          gap: 8px !important;

          h3 {
            font-size: $heading-font-size-small;
            font-weight: $font-weight-reguler !important;
            line-height: 24px;
          }

          .hosts-avatar {
            height: 32px;
            width: 32px;

            img {
              height: 100%;
              width: 100%;
              border-radius: $border-radius-full;
            }
          }

          .tfhb-info-icon-text {
            display: inline-block;
            width: 100%;
            justify-content: normal !important;
            font-size: $heading-font-size-small !important;
            gap: 16px !important;
            margin: 0 !important;
          }
        }

        .tfhb-hosts-status {
          position: absolute;
          right: 24px;
          top: 24px;
          padding: 2px 8px 2px 8px;
          border-radius: $border-radius-large;
          background-color: $success-background;
          color: $success-text !important;
          font-weight: $font-weight-medium !important;
          font-size: $text-font-size-small !important;

          &.tfhb-hosts-status-warning {
            background-color: $warning-background-secondary;
            color: $warning-text !important;
          }
        }

        .tfhb-single-hosts-action {
          position: absolute !important;
          right: 24px;
          bottom: 24px;
        }
      }
    }
  }

  .tfhbb-host-profile-page {
    padding: 16px 24px;
    background-color: $surface-secondary;
    border-radius: $border-radius-medium;
    margin: 0 auto;
    width: 710px !important;

    @media #{$max991} {
      width: calc(100% - 16px) !important;
      margin-right: 16px !important;
    }

    .tfhb-dashboard-heading {
      margin-bottom: 8px !important;
      height: auto !important;
      margin-left: 0 !important;
    }

    .tfhb-host-single-information {
      width: 100%;
    }

    .tfhb-image-box-content {
      h4 {
        margin: 0 0 8px 0 !important;
      }
    }

    .tfhb-host-integrations {
      &:last-child {
        margin-bottom: 0 !important;
      }

  
      .cartbox-text {
        max-width: 330px !important;
      }
      .tfhb-integrations-single-block {
        position: relative !important;
        transition: $transition;
       

        &:hover {
          background-color: $surface-primary;
        }

        .tfhb-badge.tfhb-badge-pro {
          margin: 0 !important;
          font-size: $text-font-size-small !important;
          line-height: 1.1 !important;
        }
      }
    }
  }
}

.tfhb-availability-schedule-single {

  // last child
  &:last-child {
    margin-bottom: 0;
  }

  .tfhb-availability-schedule-wrap {
    @media #{$max570} {
      width: 100%;
    }

    .tfhb-availability-schedule-inner {
      margin-bottom: 24px;

      // last child
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}