
// .tfhb-setup-wizard-body {
//     #wpadminbar, #adminmenuwrap, #adminmenuback, #wpfooter {
//         display: none;
//       }
      
//       #wpcontent {
//         margin-left: 0;
//         padding: 0;
//       }
//       #wpbody-content, .tfhb-admin-app {
//         padding: 0;
//       }
// }
  
 
.tfhb-setup-wizard {
    padding: 130px 0 !important;
    background-color: $surface-secondary;
    background-size: cover;
    background-position: center center; 
    padding: 88px 0;
    justify-content: center !important;
    width: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    overflow: auto;
 

    .tfhb-s-w-preloader{
        height: 20px;
        width: 20px;
    }

    .tfhb-s-w-step-one,
    .tfhb-s-w-geting-start {
        .tfhb-single-form-field {
            min-width: 400px !important;
            margin-bottom: 16px;
        }
    }

    .tfhb-setup-wizard-header {
        padding: 8px 24px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--Surface-Secondary, #FFF);
        box-shadow: $setup-wizard-box-shadow ;

        .tfhb-s-w-logo img {
            height: 40px;
            width: 40px;
        }

        .tfhb-s-w-cta {
            a {
                font-weight: $font-weight-bold;
                color: $primary-default;
                font-size: $heading-font-size-small;
                
                font-weight: $font-weight-medium;
                line-height: 24px;
            }

            span {
                width: 2px;
                display: inline-block;
                height: 16px;
                background-color: $text-input;
            }
        }
    }

    .tfhb-setup-wizard-content-wrap {


        border-radius: $border-radius-large;
        border: 2px $border-type $surface-border;
        background: #FFF;
        box-shadow: $setup-wizard-box-shadow ; 
        padding: 64px 120px;
        width: 100%;
        max-width: 1024px;
        // min-width: 60%;
        flex-direction: column; 
        justify-content: center !important;
        gap : 56px !important;
        
        &.tfhb-s-w-step-end {
            // width: 90%;
            // padding: 64px 30px;
            width: 100%;
            .cartbox-text {
                max-width: 175px !important;
            }
             
        }

        &.tfhb-s-w-step-two {
            // width: 80%;
            // padding: 64px 50px;
            .tfhb-popup-open {
                .tfhb-popup-wrap {
                    animation: none !important;
                }
            }
            .tfhb-availability-popup-wrap{
                width: 100% !important;
            }
            // .tfhb-availability-content-wrap{
            //     > .tfhb-admin-card-box{
            //         border: none !important;
            //         padding: 0 !important;
            //     }
            // }
           
            .tfhb-dashboard-heading {
                // display: none !important;
                margin-left: 0 !important;
              }
            .tfhb-overrides-heading{
                display: block !important;
            }
            .tfhb-popup-wrap {
                max-width: 800px !important;
                .tfhb-popup-wrap {
                    box-shadow: none !important;
                    border: none !important;
                    padding: 0 !important;
                  }
            }
        }

        .tfhb-s-w-icon-text {
            text-align: center;

            h2 {
                color: $surface-border-hover;
                font-size: 26px;
                font-weight: $font-weight-medium;
                line-height: 34px;
                /* 33.8px */
                margin-top: 32px !important;
                font-weight: 600;
            }

            p {
                color: $secondary-default;
                font-size: $heading-font-size-small !important;
                font-weight: $font-weight-reguler;
                line-height: 24px; 
                /* 160% */
                max-width: 470px;
                font-weight: 400;
                display: inline-block;
                margin: 0 auto;
            }
        }
        .tfhb-step-wizard-steper{
            justify-content: center !important;
        }
        .tfhb-step-bar {
            width: 24px;
            height: 8px;
            border-radius: $border-radius-medium;
            background: $secondary-hover;
        }

        .tfhb-step-bar.active {
            background: $primary-default;
        }



        .tfhb-s-w-availability-wrap {
            width: 100% !important;

            .tfhb-popup.tfhb-availability-popup {
                position: relative !important;
                background-color: transparent !important;

                .tfhb-popup-wrap {
                  
                    // max-width: 100% !important;
                    // width: 100% !important;
                    width: 100% !important; 
                    border-radius: 8px; 
                    background: $surface-secondary;
                    box-shadow: none !important;
                    
                    > div > .tfhb-dashboard-heading { 
                        display: none !important;
                    }
                } 

              

                .tfhb-btn.boxed-btn {
                    display: none;
                }
               
            }
            
        }
       
        .tfhb-submission-btn {
            justify-content: center !important;
 
        }
    }

    .tfhb-meetings-list-content {
        padding: 32px !important;
        border-radius: 16px;
        // border: 1px solid $surface-border !important;
        background: $surface-secondary !important;
        min-height: auto !important;
        width: 500px;
        .tfhb-single-meeting {
            padding: 24px !important;
            width: 100% !important;
            box-shadow: 0px 8px 16px 0px rgba(16, 40, 20, 0.04);
        }
    }

    .tfhb-s-w-step-end { 
        .tfhb-s-w-integrations-wrap{
            width: 100% !important;
            align-items: normal !important;
        }

        .tfhb-s-w-integrations-bar {
            width: 100%;
            padding: 8px 16px;
            align-self: stretch;
            border-radius: $border-radius-medium;
            background: $surface-primary;

            .tfhb-integrations-list {
                color: $text-paragraph;
                font-size: $heading-font-size-small;
                font-weight: $font-weight-medium;
                line-height: 24px;
                position: relative;
            }

            .tfhb-integrations-searchbar {
                position: relative;

                input {
                    height: 40px;
                    padding: 8px 44px 8px 12px;
                    align-self: stretch;
                    border-radius: $border-radius-small;
                    border: $border-reguler $border-type $surface-border;
                    background: #FFF;
                    &:focus, &:active {
                        outline: none;
                        box-shadow: none; 
                        border-color: $surface-border-hover;
                        color : $primary-color !important;
                    }
                }

                svg {
                    position: absolute;
                    right: 11px;
                    top: 11px;
                }
            }
        }

        .tfhb-host-integrations.tfhb-integrations-single-block.tfhb-admin-card-box {
            width: calc(50% - 12px) !important;
            margin-bottom: 0 !important;
            padding: 16px !important;
            gap: 16px !important;
            
            position: relative !important;
            .tfhb-admin-cartbox-cotent{
                gap : 16px !important;
                
            }
            .tfhb-integrations-single-block-btn{ 
                flex-direction: column;
                align-items: end !important;
                gap: 8px !important; 
                .tfhb-field-swicher{
                    padding: 0 4px;
                }
                

            }
            &.tfhb-pro{ 
                .tfhb-badge.tfhb-badge-pro {
                    margin: 0 !important; 
                    font-size: $text-font-size-small !important; 
                    line-height: 1.1 !important;
                    // position: relative !important;
                }
                .tfhb-integrations-single-block-btn{
                    display: none !important;
                    visibility: hidden;
                }
            }
           
            
        }

        .tfhb-s-w-integrations-dropdown {
            padding: 8px;

             > span{
                font-weight: $font-weight-medium !important;
            }
            .tfhb-dropdown-wrap {
                width: 180px !important;
                // background-color: $surface-secondary !important;

                &.active {
                    left: 0;
                    top: 100%;
                }

                // span {
                //     padding: 4px 8px;
                // }
            }
        }
    }



}