.tfhb-question-box{
    width: 100%;
    .tfhb-single-question-box{
        &.tfhb-disable{
            opacity: 0.7;
        }
        .tfhb-question-type{ 
            position: relative;
            .status{
                position: absolute;
                right: 8px;
                top: 3px;

                background: $success-background ;
                color: $success-text !important;
                padding: 4px 8px;
                border-radius: 6px;
                &.disabled{
                    background-color: $warning-background;
                    color: $warning-text !important;
                }
            }
        }
       
    }
    .tfhb-flexbox{
        flex-wrap: nowrap !important;
        select{
            padding: 0px 8px 0px 12px;
            min-width: calc(100% - 88px);
            margin-top: 4px;
            border-radius: $border-radius-small;
            height: 40px;
            border: $border-reguler $border-type $surface-border;
            &:focus, &:active {
                outline: none;
                box-shadow: none; 
                color : $primary-color !important;
            }
        }
        button{
            border-radius: $border-radius-small;
            border: $border-reguler $border-type $surface-border;
            background: $surface-secondary;
            height: 24px;
            width: 24px;
            padding: 4px; 
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .tfhb-single-form-field.tfhb-flexbox{
        flex-wrap: wrap !important;
    }
}