.tfhb-btn {
    font-family: "Inter", sans-serif;
   
    color: $primary-default;
    // height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    border: none ;
    &.boxed-btn {
        padding: 8px 24px; 
        border-radius: $border-radius-medium; 
        background-color: $primary-default;
       
        color: $primary-text;
        border: 1px solid $primary-default;
        cursor: pointer;
        &:hover, &:focus, &:active {
            background-color: $primary-hover;
            color: $primary-text;
        }
        span{
            color: $primary-text !important;
        }
    }
    &.tab-btn {
        padding: 8px 12px; 
        border-radius: $border-radius-small;
        background: $surface-secondary;
        box-shadow: $btn-box-shadow;
        border: 0px solid;
        cursor: pointer;
        color: $secondary-default;
        &:hover, &:focus, &.active {
            background: $secondary-hover;
            color: $primary-default;
            box-shadow: $btn-box-shadow;
        }
        span{
            color: $secondary-default !important;
        }
    }
    &.secondary-btn{
        padding: 8px 24px; 
        border-radius: $border-radius-medium; 
        border: 1px solid $surface-border;
        background: $surface-secondary;
        color: $secondary-default;
        
        font-weight: 400;
    }
    &.flex-btn{
        display: flex;
        gap: 5px;
        align-items: center;
    }
    &.tfhb-edit{
        background-color: transparent;
        color: $secondary-default;
        border: 0px solid;
        cursor: pointer;
    }
    &.tfhb-icon-hover-animation{
        &:hover svg{
            transition:$transition !important;
            // transform: translateX(8px);
        }
        svg {
            transition:$transition !important;
        }
    }
   
    &:hover, &:focus, &:active {
        color: $primary-hover;
    }
    span{

        color: $primary-default;
        font-size: 15px !important;
        font-weight: 400;
        line-height: 24px;
        transition:$transition !important;
        margin: 0 !important;
        display: inline-flex;
    }
   
    &.tfhb-preloader {
        position: relative;
        
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            border: 2px solid $primary-default;
            border-top-color: transparent;
            border-radius: $border-radius-full; 
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.5); 

        }
    }
     
  }
  