.tfhb-single-form-field {


    .tfhb-single-form-field-wrap {

        width: 100%;

        >label {
            justify-content: start !important;

            >span {
                margin: 0 !important;
            }
        }

        // Select Field
        &.tfhb-field-select {
            select {
                padding: 0px 8px 0px 12px;
                min-width: 100%;
                margin-top: 4px;
                border-radius: $border-radius-small;
                height: 40px;
                border: $fields-border $border-type $surface-input-field;
                font-family: "Inter", sans-serif;

                &:focus,
                &:active,
                &:hover {
                    outline: none;
                    box-shadow: none;
                    color: $primary-color !important;
                    box-shadow: $input-field-box-shadow;
                    background-color: $surface-primary;
                }
            }
        }

        // Dropdown Field
        &.tfhb-field-dropdown,
        &.tfhb-field-multi-select-dropdown {

            .p-dropdown .p-dropdown-trigger,
            .p-multiselect .p-dropdown-trigger {
                color: $text-input !important;
            }

            .p-dropdown,
            .p-multiselect {
                border: $fields-border $border-type $surface-input-field ;
                box-shadow: none !important;
                height: 40px;

                &:focus,
                &:active,
                &:hover {
                    outline: none;
                    box-shadow: none;
                    border-color: $surface-border-hover;
                    color: $primary-color !important;
                    box-shadow: $input-field-box-shadow;
                    background-color: $surface-primary;
                }

                .p-multiselect-trigger svg path {
                    fill: $surface-input-field !important;
                }

                .p-dropdown-label,
                .p-multiselect-label {
                    line-height: 24px !important;
                    font-size: 15px !important;
                    padding: 8px 8px 8px 12px !important;
                }

                &.tfhb-required {
                    border: $fields-border $border-type red !important;
                }


                // &:focus, &:active, &:not(.p-disabled):hover {
                //     outline: none;
                //     box-shadow: none; 

                // }
            }

            .p-multiselect:not(.p-disabled):hover,
            .p-multiselect:not(.p-disabled).p-focus,
            .p-dropdown:not(.p-disabled):hover,
            .p-dropdown:not(.p-disabled).p-focus {
                border-color: $surface-border-hover !important;
            }

            span {
                margin: 0 !important;
            }
        }

        &.tfhb-field-input,
        &.tfhb-field-date,
        &.tfhb-field-options {
            input {
                padding: 8px 8px 8px 12px;
                min-width: 100%;
                margin-top: 4px;
                border-radius: $border-radius-small;
                border: $fields-border $border-type $surface-input-field;
                background-color: transparent;
                line-height: 20px;
                height: 40px;
                margin: 0;
                box-shadow: none;
                color: $text-input;
                font-family: "Inter", sans-serif;

                &:focus,
                &:active,
                &:hover {
                    outline: none;
                    box-shadow: none;
                    border-color: $surface-border-hover;
                    color: $primary-color;
                    box-shadow: $input-field-box-shadow;
                    background-color: $surface-primary;
                }

                &::placeholder {
                    color: $text-input !important; // Define this variable in your SCSS
                    opacity: 1; // Ensures full visibility
                }

            }


        }

        &.tfhb-field-options {
            .tfhb-options-fields {
                margin-bottom: 10px;
            }

            input {
                min-width: 80% !important;
            }
        }

        &.tfhb-field-date {
            position: relative !important;

            .tfhb-flat-icon {
                position: absolute;
                right: 8px;
                bottom: 0;
            }

            .flatpickr-input {
                max-width: 100%;

            }
        }
        &.tfhb-field-color-palette {
            
            border: 1px solid #C0D8C4;
            border-radius: 8px; 
            overflow: hidden; 

            &.active{
                // box-shadow: $popup-box-shadow;
                border: 4px solid #C0D8C4;
            }
            
            label{
                cursor: pointer;
            }
            .tfhb-pelette-wrap {
                gap: 0 !important;
                span {
                    display: inline-block;
                    height: 50px;
                    width: 25%;
                    margin: 0 !important;
                }
            }
            .tfhb-pelette-content-wrap{
                padding: 12px;
                .tfhb-pelette-wrap-checkbox{
                    position: relative;
                    input[type="checkbox"],
                    input[type="radio"] {
                        display: none;
                        
                    }
                    input:checked~.checkmark {
                        background-color: $primary-default;
                        border: $fields-border $border-type $primary-default;
                    }
    
                    input:checked~.checkmark:after {
                        display: block;
                    }
         
                    .checkmark {
                        position: absolute;
                        top: -11px;
                        right: 0px;
                        height: 20px;
                        width: 20px;
                        background-color: $surface-border;
                        border-radius: 3px;
                        border: $fields-border $border-type $primary-default;
                        margin: 0 !important;
        
                        &:after {
                            content: "";
                            position: absolute;
                            left: 7px;
                            top: 2px;
                            width: 4px;
                            height: 8px;
                            border: $border-type $surface-secondary;
                            border-width: 0 2px 2px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                            display: none;
                        }
                    }
                }
               
            }
        }

        &.tfhb-field-textarea {
            textarea {
                height: 96px;
                border-radius: $border-radius-small;
                border: $fields-border $border-type $surface-input-field;
                color: $text-input;
                font-size: $heading-font-size-small;

                font-weight: $font-weight-reguler;
                line-height: 24px;
                /* 160% */
                padding: 8px 8px 8px 12px;
                width: 100%;
                font-family: "Inter", sans-serif;

                &:focus,
                &:active,
                &:hover {
                    outline: none;
                    box-shadow: none;
                    border-color: $surface-border-hover;
                    color: $primary-color !important;
                    box-shadow: $input-field-box-shadow;
                    background-color: $surface-primary;
                }

                &::placeholder {
                    color: $text-input !important; // Define this variable in your SCSS
                    opacity: 1; // Ensures full visibility
                }
            }
        }

        &.tfhb-field-checkbox,
        &.tfhb-field-radio {

            input[type="checkbox"],
            input[type="radio"] {
                display: none;
            }

            .tfhb-checkbox-label {
                justify-content: start !important;
            }

            .checkmark {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 20px;
                width: 20px;
                background-color: $surface-border;
                border-radius: 3px;
                border: $fields-border $border-type $primary-default;
                margin: 0 !important;

                &:after {
                    content: "";
                    position: absolute;
                    left: 7px;
                    top: 2px;
                    width: 4px;
                    height: 8px;
                    border: $border-type $surface-secondary;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    display: none;
                    box-sizing: unset;
                }
            }

            label {
                color: $text-paragraph !important;
                font-size: $heading-font-size-small !important;

                font-weight: $font-weight-reguler;
                // line-height: 24px !important;
                margin: 0 !important;
                position: relative;
                padding-left: 28px;
                margin-right: 16px !important;

                input:checked~.checkmark {
                    background-color: $primary-default;
                    border: $fields-border $border-type $primary-default;
                }

                input:checked~.checkmark:after {
                    display: block;
                }
            }
        }

        &.tfhb-field-radio {
            .checkmark {
                border-radius: 50%;
            }


        }

        .tfhb-swicher-wrap {
            gap: 8px !important;
            justify-content: normal !important;

            label {
                color: $text-paragraph;
                font-size: $heading-font-size-small !important;

                font-weight: $font-weight-reguler;
                line-height: 24px;
                /* 160% */
            }
        }
    }
}

.tfhb-single-form-field-wrap {
    justify-content: normal !important;

    .tfhb-field-image {
        position: relative;
        border-radius: 50%;
        height: 72px;
        width: 72px;
        overflow: hidden;
        border: $fields-border $border-type #ddd ;

        &:hover {
            .tfhb-image-btn {
                opacity: 1;
                visibility: visible;
                bottom: 0;
            }
        }

        input {
            display: none;
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        .tfhb-image-btn {
            background-color: #00000057;
            border: none;
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            padding: 8px;
            cursor: pointer;
            color: $surface-secondary;
            font-weight: $font-weight-reguler;
            opacity: 0;
            transition: all 0.3s;
            visibility: hidden;

        }

    }
}

.tfhb-imageselect-box {
    width: 100%;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        flex-wrap: nowrap !important;

        li {
            width: calc(33% - 12px);

            input[type="radio"] {
                display: none;
            }

            label {
                display: block;
                position: relative;
                margin: 0px;
                cursor: pointer;

                .image-box {
                    height: 150px;
                    border-radius: 8px;
                    background: $secondary-default;
                }

                h3 {
                    color: $text-paragraph !important;
                    font-size: $text-font-size;

                    font-weight: $font-weight-reguler !important;
                    line-height: 20px;
                    /* 153.846% */
                    margin: 8px 0 0 0 !important;
                    text-align: center;
                }
            }

            :checked+label .image-box {
                border-bottom: 4px $border-type $primary-default;
            }
        }
    }
}

.tfhb-single-colorbox {
    border-radius: 6px;
    background: $surface-primary;
    padding: 12px 16px;

    label {
        color: $secondary-default !important;
        font-size: $heading-font-size-small !important;

        font-weight: $font-weight-reguler !important;
        line-height: 24px !important;
        /* 160% */
        margin: 0 !important;
    }

    .color-select {
        background-color: $surface-secondary;
        border-radius: 6px;
        display: inline-block;
        min-width: 150px;

        .lv-colorpicker__colorblock-wrap {
            height: 36px;
            width: 36px;
            border-radius: 6px 0 0 6px !important;
            display: block;
        }

        span {
            color: $secondary-default;
            font-size: $text-font-size;

            font-weight: $font-weight-reguler;
            line-height: 20px;
            /* 153.846% */
            padding: 6px 8px;
        }
    }
}

.tfhb-startendtime {
    .tfhb-times-field {
        padding: 8px 8px 8px 12px;
        min-width: 100%;
        margin-top: 4px;
        border-radius: $border-radius-small;
        border: $fields-border $border-type $surface-border;
        background-color: transparent;
        line-height: 20px;
        height: 40px;
        margin: 0;
        box-shadow: none;
        font-family: "Inter", sans-serif;
        display: flex;
        cursor: pointer;

        input {
            border: 0px $border-type !important;
            color: $text-input !important;
            padding: 0;
            min-height: auto;
            background-color: transparent !important;
            cursor: pointer;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .tfhb-flat-icon {
            margin: 0 !important;
        }
    }

    ul {
        li {
            border-radius: 8px;
            color: $text-input;
            font-weight: 500;
            display: block;
            text-align: center;
            line-height: 24px;
            margin: 0;
            padding: 4px 16px;
            text-align: left;
            cursor: pointer;

            &:hover {
                background: #f5f6f7;
                font-weight: 500;
            }
        }
    }
}
.tfhb-content-wrap{
    .tfhb-license-message{
        width: 100%;
        text-align: center;
        .success,
        .error{
            width: 100%;
            text-align: center;
            color: $success-text;
            font-size: 17px;
            line-height: 26px;
            font-weight: 500;
        }
        .error{
            color: $error-text;
        }
    }
    .tfhb-license-email-field{
        width: 100%;
        .tfhb-validate-notice{
            margin-top: 4px;
            &.invalid{
                color: $error-text;
            }
            &.valid{
                color: $success-text;
            }
        }
    }
    .tfhb-disable-btn{
        button{
            opacity: 0.4;
            background: $primary-default;
            cursor: not-allowed !important;
        }
    }
}
.tfhb-unlock-box{
    flex-wrap: nowrap !important;
    gap: 16px !important;
    justify-content: space-between !important;
    width: 100%;
    button{
        width: 190px !important;
        box-sizing: content-box;
        align-content: center;
        justify-content: center;
    }
}
.tfhb-email-builder{
    align-items: flex-start !important;
    @media #{$max1140} {
        display: flow-root !important;
    }
    .tfhb-builder-tools{
        width: calc(45% - 12px);
        @media #{$max1366} {
            width: calc(40% - 12px);
        }
        @media #{$max1140} {
            width: 100%;
        }
        .tfhb-template-info{
            .tfhb-single-form-field{
                .tfhb-single-form-field-wrap{
                    label{
                        margin-top: 0px !important;
                    }
                }
            }
        }
        .tfhb-mail-shortcode{
            margin-top: 16px;
            .tfhb-mail-shortcode-badge{
                color: $text-title !important;
                font-weight: 600 !important;
            }
        }
        .single-tools{
            margin-bottom: 8px;
            .tools-heading{
                border-radius: 4px;
                background:  $surface-primary;
                box-shadow: 0px 1px 3px 0px rgba(16, 40, 20, 0.10), 0px 1px 2px 0px rgba(16, 40, 20, 0.06);
                padding: 8px;
                .tfhb-flexbox{
                    &.tfhb-head{
                        width: calc(100% - 40px);
                        cursor: pointer;
                    }
                }
            }
            &:last-child{
                margin-bottom: 0px;
            }
            .tools-content{
                padding-top: 8px;
                background:  $surface-primary;
                margin-top: 1px;
                .single-tools{
                    padding: 0px 8px 8px 8px;
                    margin-bottom: 0;
                    .tfhb-sub-tools{
                        .tools-heading{
                            width: calc(100% - 28px);
                            border-radius: 4px;
                            background:  $surface-secondary;
                            box-shadow: 0px 1px 3px 0px rgba(16, 40, 20, 0.10), 0px 1px 2px 0px rgba(16, 40, 20, 0.06);
                        }
                    }
                }
                .tfhb-single-form-field{
                    .tfhb-field-input{
                        margin-bottom: 10px;
                    }
                }
            }
        }
        button.boxed-btn{
            margin-top: 24px;
        }
    }
    .tfhb-email-preview{
        width: calc(55% - 12px);
        background-color: $secondary-hover;
        padding: 16px;
        @media #{$max1366} {
            width: calc(60% - 12px);
        }
        @media #{$max1140} {
            width: 100%;
            margin-top: 24px;
        }
        table{
            width: 100% !important;
            max-width: none !important;
        }
    }
}