
.tfhb-scrollbar {
    ::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #F3F6F4; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: $surface-background; 
        border-radius: $border-radius-small;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #273F2B; 
      }
}
 
