 
// Color Variables

// Primary
$primary-default : #F62881;
$primary-color : #17030C;
$primary-hover : #C40859;
$primary-text : #ffffff;

// Secondary
$secondary-default : #765664;
$secondary-hover : #FEE6F0;

// Text Color
$text-title : #1D0206;
$text-paragraph : #3F2731;
$text-input : #8F707D;

// Background
$surface-primary : #FAF5F7; 
$surface-secondary : #ffffff;
$surface-border : #F6EEF2;
$surface-border-hover : #211319;
$surface-background : #E3CFD7;

// Error    
$error-text : #AC0C22;
$error-background : #FCD9DE;


// warning
$warning-text : #A37800;
$warning-background : #FEECEE;
$warning-background-secondary : #FFF8E5;

// Info
$info-text : #002AB3;
$info-background : #EBEFFF;

// Info
$alert-text : #D69D00;
$alert-background : #EBEFFF;

// Success
$success-text : #17723F;
$success-background : #E6FAEE;






// Responsive Veriable
$max1399: "only screen and (max-width: 1399px)";
$max1240: "only screen and (max-width: 1240px)";
$max1366: "only screen and (max-width: 1366px)";
$max1140: "only screen and (max-width: 1140px)";
$max991: "only screen and (max-width: 991px)";
$max767: "only screen and (max-width: 767px)";
$max640: "only screen and (max-width: 640px)";
$max570: "only screen and (max-width: 570px)";

/// 