.tfhb-setup-wizard-body #wpadminbar,
.tfhb-setup-wizard-body #adminmenuwrap,
.tfhb-setup-wizard-body #adminmenuback,
.tfhb-setup-wizard-body #wpfooter {
    display: none;
}


.tfhb-setup-wizard-body #wpcontent {
    margin-left: 0;
    padding: 0;
}

.tfhb-setup-wizard-body #wpbody-content,
.tfhb-admin-app {
    padding: 0;
}
.tfhb-setup-wizard-body #tfhb-admin-app {
    margin-top: 0 !important; 
}
 
.tfhb-dashboard-section-wrap {
  display: flex;
  gap: 24px;
}
.tfhb-dashboard-wrap {
  width: calc(100% - 585px);
}
.tfhb-dashboard-sidebar {
  width: 500px;
}
.tfhb-sidebar-content {
	background: #F7F8FA;
	padding: 10px 20px;
}
.tfhb-sidebar-content ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.tfhb-plugin-item { 
    border-bottom: 1px solid #eee;
    background-color: #fff;
    padding: 24px;
    border-radius: 6px;
    transition: all ease-in-out 0.3s;
    margin-bottom: 0;
    position: relative;
}
.tfhb-plugin-item:hover { 
    box-shadow: 0px 4px 30px 0px rgba(6,4,12,.0784313725); 
}
.tfhb-plugin-btn{
    font-weight: 600;
}
.tfhb-plugin-item h4 {
    font-size: 16px;
    margin: 5px 0;
    font-weight: 600;
    color: #1d2327;
}

.tfhb-plugin-item p {
    font-size: 13px;
    color: #4f4e52;
    margin: 0;
}
.tfhb-plugin-item.featured {
    border-radius: 6px;
    border: 4px solid transparent;
    background: linear-gradient(white, white) padding-box, 
                linear-gradient(90deg, #489355 0%, #B8FC81 100%) border-box;
    box-shadow: 0px 1px 4px 0px rgba(44, 39, 63, 0.01),
                0px 2px 2px 0px rgba(44, 39, 63, 0.02),
                0px 1px 1px 0px rgba(44, 39, 63, 0.04);
    box-sizing: border-box;
}
.tfhb-plugin-info-wrapper{
    display: flex; 
    gap: 10px; 
    flex-direction: column;
    position: relative;
}
.tfhb-plugin-info-wrapper img {
	width: 32px;
	height: 32px;
	border: 1px solid #bebcfd;
	border-radius: 50%;
}
.tfhb-plugin-info-wrapper img.beaf-logo{
    border-radius: 0;
}
.tfhb-plugin-info-wrapper{
    display: flex; 
    gap: 10px; 
    flex-direction: column;
    position: relative;
}
.tfhb-plugin-info-wrapper img {
	width: 32px;
	height: 32px;
	border: 1px solid #bebcfd;
	border-radius: 50%;
}
.tfhb-plugin-info-wrapper img.beaf-logo{
    border-radius: 0;
}
.tfhb-plugin-info {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: flex-start;
}
.tfhb-plugin-btn{
    font-weight: 600;
}



.tfhb-sidebar-customization-quote{
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    margin: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.tfhb-sidebar-customization-quote .tfhb-quote-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tfhb-sidebar-customization-quote .tfhb-quote-header a{
    color: #382673;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.tfhb-sidebar-customization-quote .tfhb-quote-header i {
	color: #fff;
	background-color: #ff0000;
	padding: 5px;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tfhb-sidebar-customization-quote h3 {
    margin-bottom: 5px;
    font-size: 16px;
}
.tfhb-sidebar-customization-quote p {
    margin-top: 0;
}

.tfhb-quick-access-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    background-color: #F7F8FA;
    padding: 5px;
}

.tfhb-quick-access h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 0px;
}


.tfhb-access-item {
    background: #fff;
    border-radius: 8px;
    transition: all ease-in-out 0.3s;
    width: 100%;
}

.tfhb-access-item:hover {
	box-shadow: 0px 4px 30px 0px rgba(6,4,12,.0784313725);
}

.tfhb-access-item a {
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #333;
}

.tfhb-access-item .icon {
    font-size: 18px;
    margin-right: 10px;
}
.badge.free {
	background: rgba(0,165,140,.1019607843);
	color: #00a58c;
	font-size: 12px;
	padding: 2px 8px;
	border-radius: 12px;
	font-weight: 600;
	border: 1px solid #00a58c;
}
.tfhb-plugin-button:not(.active):not(.active-pro) {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s;
	position: relative;
	background-color: transparent;
	flex-direction: column;
}
.plugin-status.active {
	/* background: #382673; */
	color: #382673;
	opacity: 0.8;
}
.tfhb-plugin-button {
	padding: 5px;
	border-radius: 4px;
	font-size: 14px;
	text-decoration: none;
	position: relative;
}
@media screen and (max-width: 1450px) { 
    .tfhb-sidebar-promo {
        align-items: flex-start;
    }
}

@media screen and (max-width: 1450px) {
    .tfhb-dashboard-section-wrap {
        flex-direction: column;
    }

    .tfhb-dashboard-wrap,
    .tfhb-dashboard-sidebar {
        width: 100%;
    }

    .tfhb-dashboard-sidebar {
        order: 2;
    }
}



@media screen and (max-width: 1400px) { 
    .tfhb-sidebar-content ul {
        grid-template-columns: 1fr;
    } 
}
@media screen and (max-width: 1700px) {
    .tfhb-plugin-item {
        padding: 18px;
    }
}
@media screen and (max-width: 1040px) {
    .tfhb-plugin-item {
        padding: 18px;
    }
}