html {
    margin-top: 0 !important;
    background-color: $surface-primary;


}

#tfhb-admin-app {
    background-color: $surface-primary;
 
    .tfhb-frontend-top-header {
        margin-bottom: 0 !important;
        min-height: 60px;
        height: auto;

        .tfhb-header-profile-dropdown {
            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 1px solid $surface-border;
            }

            .tfhb-dropdown-wrap {
                width: auto !important;
                min-width: 150px;
            }
            

            @media #{$max450} {
                .tfhb-profile-name {
                    display: none;
                }

            }
        }

        .tfhb-admin-header-icon {
            width: 254px;
            .responsive-header-icon{
                display: none;
            }
            .tfhb-responsive-menu-trigger {
                width: 40px;
                height: 40px;
                padding: 10px;
                text-align: center;
                border-radius: 50%;
                display: none;
                background-color: $surface-primary;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    background-color: $primary-hover;

                    svg {
                        color: #fff;
                    }
                }

                @media #{$max767} {
                    display: block;
                }
            }

            img{
                max-height: 45px;
            }
            .desktop-header-icon{
                font-size: 24px;
                &:hover{
                    transition: 0.4s;
                    text-decoration: underline;
                }
            }
            @media #{$max767} {
                width: auto;

                .desktop-header-icon {
                    display: none;
                }
                .responsive-header-icon{
                    display: block;
                }
            }

            @media #{$max570} {
                .tfhb-admin-header-title {
                    display: none;
                }
            }



        }

        @media #{$max767} {   
            position: sticky;
            top: 0;
            width: 100%; 
            color: white; 
            text-align: center;
            z-index: 1000; 
        }
    }

    .tfhb-frontend-dashboard {
        padding: 8px;
        margin-bottom: 32px;
        .tfhb-single-meeting{
            border: none;
        }
        .user-info-icon{
            svg{
                margin-top: 0;
            }
        }
        .tfhb-field-date { 
            .tfhb-flat-icon {
                position: absolute;
                right: 8px;
                top: 6px;
                bottom: auto;
            }
        }
        .tfhb-popup-wrap{
            .tfhb-availability-schedule-single{
                // align-items: center !important;
                .tfhb-swicher-wrap{ 
                        display: block; 
                        .switch{ 
                            margin-top: -31px; 
                        }
                        .tfhb-schedule-swicher{
                            padding-left: 8px !important;
                        }
                }
                .tfhb-availability-schedule-btn{
                    padding: 0;
                    color:  $text-title;
                    box-shadow: none;
                    // &:hover{
                    //     color: #;
                    // }
                }
            }
        }
           

        ul {
            margin: 0 !important;
            padding: 0;
            list-style: none;
        }

        h2 {
            font-size: 17px;
        }

        .tfhb-frontend-main-content {

            table,
            th,
            td {
                border: none;
                
            }
            tr.last {
                td {
                    border-bottom: 1px solid $surface-border;
                }
            }
            .tfhb-booking-calendar tr td{
                border: 1px solid $surface-border;
            }

            .tfhb-admin-frontend-end-wrap,
            .tfhb-admin-booking,
            .tfhb-admin-dashboard {
                padding: 16px 0;
                border-radius: $border-radius-large;
                box-shadow: 0px 15px 30px 0px rgba(16, 40, 20, 0.10);
                background-color: $surface-secondary;

                .tfhb-meetings-list-content {
                    padding: 0;
                }

                .tfhb-booking-calendar {
                    padding: 0;
                }

                .tfhb-hosts-content {
                    margin-top: 0;

                    .tfhb-hosts-list-content {
                        padding: 0;
                    }
                }


            }

            .tfhb-meeting-create {
                margin: 50 auto;
            }

            .tfhb-hydra-dasboard {
                max-width: 100%;
                margin: 0 auto;
                margin-bottom: 50px;

                .tfhb-hydra-wrap {
                    margin: 0;

                    .tfhb-hydra-dasboard-content {
                        width: 100%;
                    }
                }

                .tfhb-integrations-single-block {
                    h3 {
                        font-size: 17px !important;
                    }
                }
            }
        }

        .tfhb-frontend-sidebar {
            max-width: 272px;
            padding: 16px;
            background-color: $primary-default;
            border-radius: $border-radius-large;

            span,
            h6,
            li {
                color: $surface-border !important;
            }

            &.collapsed {
                .tfhb-sidebar-menu{
                 li{
                    a, button{
                        justify-content: center;
                     }
                     .tfhb-dropdown{
                        a{
                            justify-content: start;
                        }
                     }
                 }

                }
                
                .tfhb-dropdown-menu {
                    position: relative;
                    z-index: 10; 
                   

                    .tfhb-dropdown {
                        position: absolute !important;
                        z-index: 10;
                        top: 0;
                        left: calc(100% + 20px);
                        background-color: $primary-default;
                        border-radius: 8px;
                        padding: 4px !important; 
                        min-width: 250px;
                        
                    }
 
                }
            }

            svg {
                color: #fff !important;
            }

            .tfhb-sidbar-slide-icon {
                width: 100% !important;
                display: inline-block;
                text-align: right;
                cursor: pointer;

                &.collapsed {
                    text-align: center;
                }
                @media #{$max767} { 
                    display: none;
                }
            }
            .tfhb-sidbar-responsive-close {
                display: none;
                @media #{$max767} { 
                    display: block;
                    width: 100%;
                    text-align: right; 
                    span{
                        height: 32px;
                        width: 32px;
                        display: inline-block;
                        background-color: $surface-secondary;
                        text-align: center;
                        border-radius: 50%;
                        padding: 6px;
                        cursor: pointer;
                        svg{
                            color:  $secondary-default !important;
                        }
                        &:hover{
                            background-color: $secondary-hover;
                            
                        }
                    }
                }
            }

            .divider {
                border-top: .5px solid $surface-border;
                margin: 16px 0;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {

                    a,
                    button {
                        border-radius: 6px;
                        transition: $transition;
                        background-color: transparent;
                        width: 100%;
                        border: none;
                        box-shadow: none;
                        padding:  12px 16px;

                        &:hover,
                        &:focus,
                        &.active,
                        &.router-link-active {
                            transition: $transition;
                            background-color: $primary-hover;
                        }

                        span {
                            color: #fff !important;
                            font-size: 15px !important;
                            margin: 0 !important;

                        }


                    }

                    .tfhb-dropdown {
                        margin-top: 2px !important;

                        li {
                            a {
                                padding: 8px 16px;
                                &:hover,
                                &:focus,
                                &.active {
                                    background-color: #3D7B47;
                                }
                            }
                        }
                    }
                }
            }

            .tfhb-sidebar-menu-heading {
                font-size: 13px;
                padding: 0 16px;
                min-height: 20px;
                // @media #{$max767} { 
                //     display: none;
                // }
            }

            .tfhb-frontend-sidebar-card {
                padding: 16px;
                border-radius: 8px;
                background-color: #FFCB3D;
                max-height: 200px;

                h4 {
                    font-size: 15px;
                }
            }

            @media #{$max767} {
                position: fixed;
                left: -150;
                visibility: hidden;
                opacity: 0;
                transition: 0.4s;
                z-index: 999;

                &.responsive-active {
                    transition: 0.6s ease-in-out;
                    left: 8px;
                    visibility: visible;
                    opacity: 1;
                    max-height: 100vh;
                    overflow: auto;
                }

            }
            @media #{$max767} { 
                top: 0;
                left: 0;
                height: 100%;
                z-index: 9999;
                border-radius: 0;
            }
        }
  

        .tfhbb-fd-user-profile-page {
            max-width: 700px;
            margin: 50px auto;
            background-color: #fff;
            padding: 32px;
            border-radius: 16px;

            .tfhb-user-profile-image {
                border-bottom: 1px solid #C0D8C4;
                padding-bottom: 32px;

                .tfhb-field-image {
                    height: 136px;
                    width: 136px;
                    border: 4px solid #C0D8C4 !important;

                    overflow: unset;

                    .tfhb-image-btn {
                        opacity: 1;
                        visibility: visible;
                        bottom: 6;
                        height: 32px;
                        width: 32px;
                        z-index: 10;
                        background-color: #F9FBF9;
                        color: #273F2B;
                        border-radius: 50%;
                        border: 2px solid var(--Border, #C0D8C4);
                        right: 0;
                        left: auto;
                        transition: $transition;
                        padding: 0;
                    }

                    .tfhb-image-btn:hover {
                        background-color: $primary-default;
                        color: #fff;
                    }
                }
            }
        }

        // Dashboard Page 
        .tfhb-admin-dashboard {
           .tfhb-dashboard-notice-box-wrap{
            border: none;
            .tfhb-dashboard-notice-single-box{
                .tfhb-admin-card-box{ 
                    border: none !important;
                }
            }
           }
           @media #{$max991} {  
                .tfhb-single-chartbox{
                    width: calc(50% - 18px);
                }
            }
            @media #{$max570} {  
                .tfhb-single-chartbox{
                    width: 100%;
                }
            }
        }

    }
}