html{
    margin-top: 0 !important;
    background-color: $surface-primary;

    
}
#tfhb-admin-app{
    background-color: $surface-primary;
    .tfhb-frontend-top-header{
        margin-bottom: 0 !important;
        .tfhb-header-profile-dropdown{
            img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 1px solid $surface-border;
            }
            .tfhb-dropdown-wrap{
                width: auto !important;
            }
        }
    }
   
    .tfhb-frontend-dashboard{
        padding: 8px;
        ul{
            margin: 0 !important;
            padding: 0;
            list-style: none;
        }
        h2{
            font-size: 17px;
        }
        .tfhb-frontend-main-content {
            table, th, td{
                border: none;
            }
            .tfhb-admin-meetings, .tfhb-admin-booking, .tfhb-admin-hosts, .tfhb-hydra-dasboard {
                padding: 16px 0;
                border-radius: $border-radius-large;
                box-shadow: 0px 15px 30px 0px rgba(16, 40, 20, 0.10);
                background-color: $surface-secondary;
                .tfhb-meetings-list-content{
                    padding: 0;
                }
                .tfhb-booking-calendar{
                    padding: 0;
                }
                .tfhb-hosts-content{
                    margin-top: 0;
                    .tfhb-hosts-list-content{
                        padding: 0;
                    }
                }
                .tfhb-hydra-dasboard-content{
                    padding: 0;
                    width: 100%;
                }
               
            }
        }
       .tfhb-frontend-sidebar{
            max-width: 272px; 
            padding: 16px;
            background-color: $primary-default;
            border-radius:  $border-radius-large;
            span, h6, li {
                color:  $surface-border !important;
            }
            &.collapsed {
                .tfhb-dropdown-menu {
                    position: relative;
                    z-index: 10;
                    .tfhb-dropdown {
                        position: absolute !important;
                        z-index: 10;
                        top: 0;
                        left: calc(100% + 20px);
                        background-color: #2E6B38;
                        border-radius: 8px;
                        padding: 4px !important;
                        min-width: 200px;
                    }
                }
            }  
            svg{
                color: #fff !important;
            }
            .tfhb-sidbar-slide-icon {
                width: 100% !important;
                display: inline-block;
                text-align: right;
                cursor: pointer;
                &.collapsed{ 
                    text-align: center;
                }
            }
            .divider{
                border-top: .5px solid $surface-border;
                margin: 16px 0;
            }

            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                
                li{
                   
                    a, button{
                        border-radius: 6px; 
                        transition: $transition;
                        background-color: transparent;
                        width: 100%;
                        border: none;
                        box-shadow: none;
                        &:hover, &:focus, &.active{
                            transition: $transition;
                            background-color: $primary-hover;
                        }
                        span {
                            color: #fff !important;
                            font-size: 15px !important;
                            margin: 0 !important;
                           
                        }
                        
    
                    }
                    .tfhb-dropdown{
                        margin-top: 2px !important;
                        li{
                            a{
                                &:hover, &:focus, &.active{
                                    background-color: #3D7B47;
                                }
                            }
                        }
                    }
                }
            }
            .tfhb-sidebar-menu-heading {
                font-size: 13px;
                padding: 0 12px;
                min-height: 20px;
            }
    
            .tfhb-frontend-sidebar-card{
                padding: 16px;
                border-radius: 8px;
                background-color: #FFCB3D;
                max-height: 200px;
                h4{
                    font-size: 15px;
                }
            }

                 
       }
        
    }
}
